<ion-header class="home">
  <ion-grid>
    <ion-row align-items-end>
      <ion-col col-8 offset-2 text-center align-self-end>
        <button ion-button icon-end block color="fb" [navPush]="addPlacePage">Add Entry
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngIf="places.length == 0" color="fb" style="padding: 10px;">
          <p ion-text>You currently do not have any saved entries. Click on "Add Entry" above to begin.</p>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let place of places; let i = index" (click)="onOpenPlace(place, i)">
      <ion-col>
        <ion-card color="fb">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <p>{{ place.title | uppercase }}</p>
                  <p ion-text color="secondary">
                    <strong>{{ place.date }}</strong>
                  </p>
                </ion-col>
                <ion-col col-8 text-right>
                  <rating [ngModel]="place.rating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
                    nullable="false">
                  </rating>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>